amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
Django==1.11
django-celery==3.2.2
django-redis==4.4.0
django-redis-sessions==0.6.1
django-tinymce==2.6.0
itsdangerous==1.1.0
kombu==3.0.37
Pillow==3.4.1
PyMySQL==0.9.3
pytz==2018.9
redis==2.10.6
vine==1.2.0
